* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 550px;
  margin: 0 auto;
}

/* Navbar */
.navbar-container {
  height: 80px;
  width: 100%;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  padding: 2em;
}

/* Hero */

.image-layout {
  text-align: center;
  margin: 2em 0 1em 0;
  height: 550px;
  width: 100%;
}
